<head>
    {{ craft.vite.script('src/js/main.js', false) }}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="home" href="/" />
    <link rel="icon" type="image/x-icon" href="/assets/narra-logo.svg" />

    <link rel="stylesheet" href="https://use.typekit.net/trx7hsc.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RJFWF55JZW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RJFWF55JZW');
    </script>
    <!-- END Google tag (gtag.js) -->

</head>
