{% extends '_layouts/base' %}
{% set subscriptionForm = freeform.form("subscription") %}

{% block content %}
    {% include '_partials/modules/hero' %}
    {% include '_partials/modules/textReveal' %}
    {% include '_partials/modules/slider-mob' %}
    {% include '_partials/modules/banner-text-reveal' %}
    {% include '_partials/modules/meet-narra' %}
    {% include '_partials/modules/scale-up' %}
    {% include '_partials/modules/circle-reveal' %}
    {# {% include '_partials/modules/bento-grid' %} #}
    {% include '_partials/modules/quotes' %}
    {% include '_partials/modules/banner' %}
    <div class="shadowOverlay"></div>
{% endblock %}
