@include property(x, "<percentage>", 50%, false);
@include property(y, "<percentage>", 50%, false);

.button {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    
    svg {
      pointer-events: none;
    }
}
  
.button--primary {
  display: inline-flex;
  height: 56px;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 6px;
  box-shadow: -25px -14px 13px 0px rgba(0, 0, 0, 0.00) inset;

  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(47, 53, 70, 0.9) -70%,
    rgba(47, 53, 70, 0.9) 0%,
    rgba(16, 22, 41, 1) 70%
  );
  // transition: --x .1s, --y .1s;
}
  