.header {
    position: fixed;
    z-index: 10;
    top: 60px;
    right: 60px;

    border-radius: 4px;

    nav {
        border-radius: 2px;

        .nav__menu {
            display: flex;
            align-items: center;
            padding: 8px 10px;

            ul {
                display: flex;
            }

            li  {
                a {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    white-space: nowrap;
                    padding: 20px 24px;
                    max-width: 500px;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    transition: max-width 0.75s;
                    border-radius: 6px;
                    
                    &:before {
                        height: auto;
                        width: 15px;
                    }

                    div {
                        transition: opacity 0.9s 0.1s, max-width 0.75s;
                        max-width: 500px;

                        span {
                            padding-left: 5px;
                        }
                    }

                    &.active {
                        opacity: 0.96;
                        background-color: #17342c;
                        box-shadow: -1.752px 1.34px 7.591px -1.168px rgba(23, 51, 43, 0.09);
                        backdrop-filter: blur(8.75px);
                    }

                    &:hover {
                        background-color: #17342ccf;
                        box-shadow: -1.752px 1.34px 7.591px -1.168px rgba(23, 51, 43, 0.09);
                        backdrop-filter: blur(8.75px);
                        transition: background-color 0.4s;
                    }

                    &.collapsed {
                        max-width: 75px;

                        div {
                            opacity: 0;
                            max-width: 0;
                        }
                    }
                }

                .nav-link--home:before {
                    content: url('/assets/svgs/home.svg');
                }

                .nav-link--mission:before {
                    content: url('/assets/svgs/mission.svg');
                }

                .nav-link--features:before {
                    content: url('/assets/svgs/features.svg');
                }

                .nav-link--blog:before {
                    content: url('/assets/svgs/blog.svg');
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .hero__signup {
            display: none;
        }
    }
}