.hero {
    height: 200vh;
    width: 100%;
    color: #F9F7F0;
    z-index: 3;

    &__overlay {
        background: radial-gradient(138.71% 103.01% at 95.97% 7.82%, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 77.29%), radial-gradient(163.02% 95.59% at 0.73% 2.97%, rgba(0, 0, 0, 0.48) 14.7%, rgba(0, 0, 0, 0.00) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100vh;
        padding: 60px;
        background-size: cover;
        background-position: center top;
    }

    &__content {
        min-height: 77px;
        display: flex;
    }

    &__ctas {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        width: 720px;
        max-width: 100%;
        border-radius: 6px;
        padding: 40px;
        flex-shrink: 0;

        border-right: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1;


        &--secondary {
            background: #333535;
            box-shadow: -1.752px 1.34px 7.591px -1.168px rgba(23, 51, 43, 0.09);
            backdrop-filter: blur(8px);
            border-radius: 6px;
            opacity: 0.85;
            display: flex;
            align-items: center;
            padding: 25px;
            gap: 30px;
            text-align: left;
            color: #fff;

            .copy {
                padding: 0 10px;
            }

            p {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 154.2%; /* 27.756px */
                opacity: 0.75;
            }
        }
    }

    &__description {
        margin-bottom: 32px;
    }

    &__signup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 72px;
        border-radius: 6px;
        border: 1px solid rgba(89, 89, 89, 0.32);
        background: rgba(255, 255, 255, 0.67);
        padding-right: 8px;

        input {
            flex-grow: 1;
        }
    }

    &--banner {
        height: 100vh;
        margin-top: 100px;

        .container {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .hero__ctas {
            margin-top: auto;
        }
        .hero__cta {
            width: 900px;
        }

        .hero__overlay {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            padding: 30px;
        }

        &__cta {
            padding: 24px;
        }
        
        .hero__signup {
            flex-direction: column;
            height: auto;
            background: transparent;
            padding: 0;
            gap: 10px;

            input {
                height: 56px;
                width: 100%;
                background: rgba(255, 255, 255, 0.67);
                border-radius: 6px;
            }

            button {
                width: 100%;
            }
        }
    }
}
