.scale-up {
    width: 100vw;
    min-height: 100vh;
    padding: 60px;
    z-index: 3;
    margin-top: 500px;

    display: flex;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // background-color: #242627;
        // padding: 70px 35px 35px;
        padding: 24px 30px 24px 60px;
        border-radius: 6px;

        transform-origin: center right;

        height: fit-content;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #242627;
        z-index: -1;
        border-radius: 6px;
    }

    &__copy {
        width: 40%;
        color: #fff;
        margin-bottom: 40px;

        h2 {
            text-wrap: balance;
        }

        p {
            margin-top: 24px;
            color: rgba(255, 255, 255, 0.60);
        }
    }

    &__phone {
        width: 55%;
        height: 50vh;
        border-radius: 6px;
        background: #F4F1EC;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute
        }

        &__content {
            width: 35%;
            height: 100%;
            overflow: hidden;
        }

        &__copy {
            position: absolute;
            right: 5%;
            transition: bottom 0.5s;
            max-width: 200px;

            h3 {
                font-size: 1.4vw;
                line-height: 28px;
                margin-bottom: 45px;
            }

            p {
                color: #101932;
                font-size: 0.7vw;
                line-height: 154.2%;
            }
        }

        &__fadeDown, &__fadeUp {
            position: absolute;
            top: -20px;
            right: 0;
            width: 100%;
            height: 100px;
            filter: blur(6px);
            background-image: url(/assets/images/shadow-mask.png), linear-gradient(0deg, rgba(244, 241, 236, 0.8169861695) 0%, rgb(244, 241, 236) 50%);
            z-index: 2;
        }

        &__fadeUp {
            top: auto;
            bottom: -20px;
            height: 50px;
            filter: blur(10px);        
        }
    }


    .shadow-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/images/shadow-mask.png');
        border-radius: 6px;
        background-size: cover;
        filter: blur(9px);
    }


    &__mob {
        display: none;
    }

    @media screen and (max-width: 768px) {
        padding: 0 30px;
        margin: 0 0 100px 0;
        min-height: auto;
        flex-direction: column;
        gap: 20px;

        &__container {
            padding: 24px;
        }

        &__bg {
            background-image: url(/assets/images/bg-scale-up.png);
            background-size: cover;
        }

        &__copy {
            width: 100%;

            h2 {
                font-size: 1.5rem;
                line-height: 2rem;
            }

            p {
                font-size: 0.875rem;
                opacity: 1;
                font-size: 1.125rem;
                line-height: 154.2%;
            }
        }

        &__phone {
            display: none;
        }

        &__mob {
            display: block;
            width: 100%;
            img {
                width: 100%;
                margin-bottom: 24px;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}