{% extends '_layouts/base.twig' %}

{# {% do seomatic.tag.container.clearCache(true) %}
{% do seomatic.meta.seoTitle("404") %} #}

{% block content %}
    <div class="error">
        <h1>
            Page not found
        </h1>
        <p>
            You may want to try visiting <a href="/">our homepage</a> instead?
        </p>
    </div>
{% endblock %}
