{% extends '_layouts/base.twig' %}

{# {% do seomatic.tag.container.clearCache(true) %}
{% do seomatic.meta.seoTitle('503') %} #}

{% block content %}
    <div class="error">
        <h1>
            Service Unavailable
        </h1>
        <p>
            Something's gone wrong, but we'll get it fixed and be back soon!
        </p>
    </div>
{% endblock %}
