<section class="banner banner-text-reveal">

    <div class="banner__container">
        <div class="banner__content">
            <div class="banner__bg">
                <img src="/assets/images/family-gathering.png" alt="Family reading together" />
            </div>


            <div class="banner__copy">
                <h2 class="banner__header">Bringing generations together</h2>
                <div class="banner__text">
                    <p>
                        Narra is all about nurturing connection through storytelling and shared memory. It's a fact: knowing who and where you come from across generations is healthy and life-affirming.
                        <br>
                        The joyful, inspirational, and enlightening storytelling experiences that Narra offers help you commemorate the past with rich detail and emotion, while strengthening present and future bonds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-mob">
    <div class="banner-mob__container">
        <div class="banner-mob__content">
            <div class="banner-mob__bg">
                <img src="/assets/images/family-gathering.png" alt="Family reading together" />

                <h2 class="banner-mob__header">Bringing generations together</h2>
            </div>


            <div class="banner-mob__copy">
                <div class="banner-mob__text">
                    <p>
                        Narra is all about nurturing connection through storytelling and shared memory. It's a fact: knowing who and where you come from across generations is healthy and life-affirming.
                        <br>
                        <br>
                        The joyful, inspirational, and enlightening storytelling experiences that Narra offers help you commemorate the past with rich detail and emotion, while strengthening present and future bonds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>