<section class="meet-narra">
    <div class="meet-narra__container">
        <div class="meet-narra__copy">
            <h2>Meet Narra</h2>
            <h2><i>interviewer extraordinaire</i></h2>
        </div>


        <div class="meet-narra__img">
            <img src="/assets/images/meet-narra.png" alt="Ipad pro with narra app" />
        </div>
    </div>




    <div class="meet-narra__blocks">
        <div class="meet-narra__block">
            <div class="meet-narra__block--copy">
                <h2>Tell Your Story, Your Way</h2>
                <p>
                    With Narra, you have the freedom to share your story however feels right for you. Write it manually, speak and have it transcribed or saved as a recording, or engage with our interactive interviewer. Like a trusted companion, the interviewer turns your conversations into beautifully written stories, ready to cherish and share.
                </p>
            </div>

            <div class="meet-narra__block--img">
                <img src="/assets/images/blocks-1.png" alt="Family gathering" />
            </div>
        </div>



        <div class="meet-narra__block">
            <div class="meet-narra__block--copy">
                <h2>Listen, read, &amp; experience</h2>
                <p>
                    Experience your family stories in engaging, interactive ways. Whether reading, listening, or viewing, Narra brings your memories to life. Add images, videos, and other media to create a more immersive and vivid storytelling experience.
                </p>
            </div>

            <div class="meet-narra__block--img">
                <img src="/assets/images/blocks-2.png" alt="Family gathering" />
            </div>
        </div>
    </div>
</section>
