<section class="quotes">
    <div class="quotes__title">
        <h2>See how Narra has helped bring <br> families closer</h2>
    </div>
    <div class="quotes__container">
        <div class="quotes__marquee">
            <ul class="marquee-content">
                <li class="quote">
                    <p class="author">-Vanessa B.</p>
                    <p>
                        “The personalized interview format is wonderful. My dad enjoyed telling his story and loved being asked about his childhood. Writing a memoir is quite an undertaking, yet Narra makes it easy.
                        The finished product is amazing! My son immediately took the book to school and proudly shared it for show and tell.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Victor G.</p>
                    <p>
                        “My deepest gratitude to Narra who gave life to my words and guided me through a wonderful journey. Narra helped me to write and publish my life story. I never thought writing a book about my life would be as seamless and enjoyable as he made it.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Isabel D., Alice's friend</p>
                    <p>
                        “Having Alice in my life was a gift. Now that she is gone, I will hold her memories dearly.  By writing these books, she left me with the ultimate gifts. I know she really enjoyed the experience as she talked about it often. God bless you for the work that you did with Alice.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Sara H.</p>
                    <p>
                        “As I read, I could literally hear my father speaking to me—they were his words in his voice.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Gina M.</p>
                    <p>
                        “This wonderful memoir is a dream come true that will be passed down to many generations to come. Thank you so very much for your expertise, energy, and attention to detail.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Vanessa B.</p>
                    <p>
                        “The personalized interview format is wonderful. My dad enjoyed telling his story and loved being asked about his childhood. Writing a memoir is quite an undertaking, yet Narra makes it easy.
                        The finished product is amazing! My son immediately took the book to school and proudly shared it for show and tell.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Victor G.</p>
                    <p>
                        “My deepest gratitude to Narra who gave life to my words and guided me through a wonderful journey. Narra helped me to write and publish my life story. I never thought writing a book about my life would be as seamless and enjoyable as he made it.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Isabel D., Alice's friend</p>
                    <p>
                        “Having Alice in my life was a gift. Now that she is gone, I will hold her memories dearly.  By writing these books, she left me with the ultimate gifts. I know she really enjoyed the experience as she talked about it often. God bless you for the work that you did with Alice.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Sara H.</p>
                    <p>
                        “As I read, I could literally hear my father speaking to me—they were his words in his voice.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Gina M.</p>
                    <p>
                        “This wonderful memoir is a dream come true that will be passed down to many generations to come. Thank you so very much for your expertise, energy, and attention to detail.”
                    </p>
                </li>
            </ul>
        </div>
        <div class="quotes__marquee">

            <ul class="marquee-content marquee-content--right">
                <li class="quote">
                    <p class="author">-Bonnie D.</p>
                    <p>
                        “I was absolutely blown away with this book on my dad. I feel it makes the best gift and I want to share Narra with my friends.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Barbara K.'s impressions of reading her friend's memoir</p>
                    <p>
                        “What a lovely tribute to both of your parents this memoir of your very special father is. I've had such a nostalgic weekend reading through it and seeing all the wonderful old photos. So many happy memories! I especially loved the photo from your wedding, and the family pictures from when you were growing up.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Deborah G.</p>
                    <p>
                        “Great service and a wonderful way to capture family history and important family stories. Narra is easy to work with.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Robyn S.</p>
                    <p>
                        “The book is a wonderful memento for Bruce and even more precious to our children and grandchildren. The best of intentions and unlaid plans never result in the product one wants.  With your guidance and hard work, we now have the book that Bruce had been meaning to write.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Gina M.</p>
                    <p>
                        “This wonderful memoir is a dream come true that will be passed down to many generations to come. Thank you so very much for your expertise, energy, and attention to detail.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Bonnie D.</p>
                    <p>
                        “I was absolutely blown away with this book on my dad. I feel it makes the best gift and I want to share Narra with my friends.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Barbara K.'s impressions of reading her friend's memoir</p>
                    <p>
                        “What a lovely tribute to both of your parents this memoir of your very special father is. I've had such a nostalgic weekend reading through it and seeing all the wonderful old photos. So many happy memories! I especially loved the photo from your wedding, and the family pictures from when you were growing up.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Deborah G.</p>
                    <p>
                        “Great service and a wonderful way to capture family history and important family stories. Narra is easy to work with.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Robyn S.</p>
                    <p>
                        “The book is a wonderful memento for Bruce and even more precious to our children and grandchildren. The best of intentions and unlaid plans never result in the product one wants.  With your guidance and hard work, we now have the book that Bruce had been meaning to write.”
                    </p>
                </li>
                <li class="quote">
                    <p class="author">-Gina M.</p>
                    <p>
                        “This wonderful memoir is a dream come true that will be passed down to many generations to come. Thank you so very much for your expertise, energy, and attention to detail.”
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>