<section class="scale-up">
    <div class="scale-up__container">
        <div class="scale-up__bg"></div>
        <div class="scale-up__copy">
            <h2>Always Here to Help</h2>
            <p>
                Narra is more than just an interviewer—it's your storytelling companion. If you hit a creative block, we’re here to help you get back on track and keep capturing your memories. With Narra's powerful Search + Filter tools, you can easily locate your stories by who was involved, when they happened, and who contributed to them.
            </p>
        </div>


        <div class="scale-up__phone">
            <div class="shadow-mask"></div>
            {# <img src="/assets/images/iphone-narra-app-1.png" alt="Iphone with narra app" /> #}

            <img id="phone-img-3" src="/assets/images/phone-3.png" alt="Iphone with narra app" />
            <img id="phone-img-2" src="/assets/images/phone-2.png" alt="Iphone with narra app" />
            <img id="phone-img-1" src="/assets/images/phone-1.png" alt="Iphone with narra app" />


            <div class="scale-up__phone__content">
                <div class="scale-up__phone__fadeDown"></div>
                <div class="scale-up__phone__copy">
                    <h3>Slow down and <br> smell the roses.</h3>
                    <p>
                        Narra is the opposite of social media, designed to be used in an unhurried, intentional, and thoughtful way. 
                        <br>
                        <br>
                        Whereas social posts are seen mostly by strangers, your memories are only for those with whom you genuinely want to share.
                        <br>
                        <br>
                        While posts are added to a feed intended for infinite scrolling, your Narra stories are paginated so your readers can enjoy your wonderful memories as they would a favorite book.
                    </p>
                </div>
                <div class="scale-up__phone__fadeUp"></div>
            </div>
        </div>
    </div>
    <div class="scale-up__mob"> 
        <img src="/assets/images/phone-mob.png" alt="Iphone with narra app" />

        <div class="scale-up__mob__content">
            <p>
                Narra is the opposite of social media, designed to be used in an unhurried, intentional, and thoughtful way. 
                <br>
                <br>
                Whereas social posts are seen mostly by strangers, your memories are only for those with whom you genuinely want to share.
                <br>
                <br>
                While posts are added to a feed intended for infinite scrolling, your Narra stories are paginated so your readers can enjoy your wonderful memories as they would a favorite book.
            </p>
    </div>
</section>
