<section class="slider">
    <div class="slider__container">
        <div class="slider__mainCard">
            <div class="slider__mainCard--img">
                <img src="/assets/images/family-reading-1.png" alt="slide image text">
            </div>
    
            <div class="slider__mainCard--copy">
                <h2>Create your living story.</h2>
                <p>
                    Narra makes it enjoyable and easy to write your story, preserve it, and share it with the people you love. You can even tell your story together!
                </p>
                {# <a class="button button--primary" href="/features">
                    Explore all of our features {% include './_partials/svgs/arrow-right'%}
                </a> #}
            </div>
        </div>

        <div class="slider__card">
            <div class="slider__card--copy" style="background-image: url('/assets/images/slide-1.png');">
                <div class="slider__card--linearGradient"></div>
                <h3>Guided Storytelling</h3>
                <p>
                    Talk with Narra, your warm storytelling guide, to effortlessly tell your favorite stories.
                </p>
            </div>
        </div>
        

        <div class="slider__card">
            <div class="slider__card--copy" style="background-image: url('/assets/images/slide-2.png');">
                <div class="slider__card--linearGradient"></div>
                <h3>Collaborative Platform</h3>
                <p>
                    Collaborative storytelling is a feature unique to Narra. Enrich your stories by inviting others to share their memories and perspectives.
                </p>
            </div>
        </div>
        <div class="slider__card">
            <div class="slider__card--copy" style="background-image: url('/assets/images/slide-3.jpg');">
                <div class="slider__card--linearGradient"></div>
                <h3>A Home for your Stories</h3>
                <p>
                    Invite the people you love inside and serve them something that's truly yours.
                </p>
            </div>
        </div>
        <div class="slider__card">
            <div class="slider__card--copy" style="background-image: url('/assets/images/slide-4.png');">
                <div class="slider__card--linearGradient"></div>
                <h3>Powerful Search + Filter</h3>
                <p>
                    Narra catalogues and organizes your memories, stories, and media so you can instantly find what you're looking for, and easily curate keepsake projects.
                </p>
            </div>
        </div>
        <div class="slider__card">
            <div class="slider__card--copy" style="background-image: url('/assets/images/slide-5.jpg');">
                <div class="slider__card--linearGradient"></div>
                <h3>Smart Editor</h3>
                <p>
                    Your conversations with Narra are generated into stories that engage your readers and share the true you.
                </p>
            </div>
        </div>
        <div class="slider__card">
            <div class="slider__card--copy" style="background-image: url('/assets/images/slide-6.png');">
                <div class="slider__card--linearGradient"></div>
                <h3>Keepsakes, Memoirs, and Videos</h3>
                <p>
                    Transform your stories into a range of keepsakes, from physical and digital books to videos and audiobooks.
                </p>
            </div>
        </div>


        <div class="slider__next">
            <div class="slider__next--bg"></div>
        </div>
    </div>
</section>