<section class="textReveal">
    <div class="textReveal__container">
        <h2 class="reveal">
            <span class="reveal-first">Welcome to Narra.</span> 
            
            <span class="reveal-second">
                A place to share what's most
            </span> 
            <br>
            <span class="reveal-second">
                significant with loved ones, not strangers.
            </span> 
        </h2>
    </div>

    {% include './_partials/modules/slider' %}
</section>