@font-face {
    font-family: 'uncut-sans-variable';
    src: url('/fonts/UncutSans-Variable.woff2') format('truetype');
}

@font-face {
    font-family: 'uncut-sans-regular';
    src: url('/fonts/UncutSans-Regular.woff') format('truetype');
}

@font-face {
    font-family: 'uncut-sans-medium';
    src: url('/fonts/UncutSans-Medium.woff') format('truetype');
}

@font-face {
    font-family: 'uncut-sans-Light';
    src: url('/fonts/UncutSans-Light.woff') format('truetype');
}

h1 {
    font-family: "adobe-caslon-pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(2rem, -5.9295rem + 16.5414vw, 3.375rem);
    line-height: clamp(2.25rem, -5.9295rem + 16.5414vw, 4rem);
}

h2 {
    font-family: "adobe-caslon-pro", serif;
    // font-size: 2.625rem;
    font-size: clamp(2rem, -5.9295rem + 16.5414vw, 2.625rem);
    font-style: normal;
    font-weight: 600;
    // line-height: 57px;
    line-height: clamp(2.25rem, -5.9295rem + 16.5414vw, 3.5625rem);
}


h3 {
    font-family: "adobe-caslon-pro", serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 59px; /* 210.714% */
}

h4 {
    color: #FFF;
    font-family: "uncut-sans-variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 154.2%; /* 30.84px */
}

a {
    color: #FFF;
    font-family: "uncut-sans-regular";
    text-decoration: none;
}

p {
    font-family: "uncut-sans-variable";
    font-style: normal;
    line-height: 149.2%; /* 32.824px */
    font-weight: 400;
    font-size: clamp(1rem, -5.9295rem + 16.5414vw, 1.375rem);
}

i {
    font-style: italic;
}

input {
    color: #2F3546;
    background-color: transparent;
    font-family: "uncut-sans-variable";
    font-size: 1.25rem;
    font-style: normal;
    line-height: 154.2%; /* 30.84px */
    height: 100%;
    padding-left: 30px;
}