@import './base/imports.scss';
@import './components/**.*';

body {
    overflow-x: hidden; // Prevent horizontal scroll
    min-height: 100vh; // Add height to body to test scroll
    background: #F4F1EC;
}

.main {
    overflow-x: hidden; // Prevent horizontal scroll
}

img {
    pointer-events: none; // Prevent image from being clicked
}